body {
    font-family: sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(195, 43, 43, 0.2);
    text-align: center
}


.clickButton,
.clearButton {
    /* text-align: center; */
    display: inline-block;
    font-size: 16px;
    padding: 8px 16px;
    background-color: #fff;
    color: #333;
    margin-left: 24px;
}

.clearButton {
    margin-left: 8px;
}